<?xml version="1.0"?>
<model>
  <name>zephyros</name>
  <version>1.0</version>
  <sdf version="1.9">model.sdf</sdf>
  <author>
    <name>ETH Racing Drone Team</name>
    <email></email>
  </author>
  <description>Zephyros - 5-inch racing quadrotor for ETH RC drone racing. Custom model for PX4 SITL simulation.</description>
</model>
